@model List<Productos>

<h2>Produtos Registrados</h2>
<table class="table table-striped">


    <tr>
        <td>Codido Produto</td>
        <td>Nombre Prodcuto</td>
        <td>Productos en Existencia</td>
        <td>Precio</td>
    </tr>
    @foreach (Productos prod in Model)
            {
<tr>
    <td>@prod.CodigoProducto</td>
    <td>@prod.NombreProducto</td>
    <td>@prod.ProductosEnExistencia</td>
    <td>@prod.Precio</td>
    <td>@Html.ActionLink("Editar", "EditarObjeto", new { codprodu = prod.CodigoProducto })</td>
    <td>@Html.ActionLink("Eliminar", "EliminarObjeto", new { codprodu = prod.CodigoProducto })</td>

</tr>
            }

</table>
<a asp-action="AgregarObjeto">REGISTRAR OTRO PRODUCTO.</a>